<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>tr</string>
		<string>de</string>
		<string>es</string>
		<string>fr</string>
		<string>id</string>
		<string>it</string>
		<string>nl</string>
		<string>pl</string>
		<string>pt</string>
		<string>vi</string>
		<string>ru</string>
	</array>
</dict>
</plist>
